---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: {
      monthly: "$24.99/mo",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Features",
      "Unlimited Trainees",
      "Custom Pricing",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Simple & Predictable pricing. No Surprises.
      </Fragment>
    </Sectionhead>
  </Container>

  <div class="mx-auto max-w-sm px-5 mt-12">
    {pricing.map((item) => <Pricing plan={item} />)}
  </div>
</Layout>
