---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Train Wherever",
    description:
      "No matter where you are in the world, seamlessly connect with trainees and provide custom training plans.",
    icon: "mdi:globe",
  },
  {
    title: "Charge Without Restriction",
    description: `Linkfit uses Stripe to handle payment processing, where we take a small cut (20%) for each payment.
      This is to help cover the cost of app maintenance and other operational costs.`,
    icon: "ic:outline-price-change",
  },
  {
    title: "Better Trainee Perspectives",
    description:
      "Trainees can list their current diets, calorie intake and other important metrics for trainers to view.",
    icon: "clarity:note-line",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start training people
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Linkfit comes batteries included. It lets you select who will be in your <br
    />
    training sessions and you get to decide how much they pay and how often.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
